<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <appSettings>
    <add key="endpoint" value="https://kenneth.documents.azure.com"/>
    <add key="primaryKey" value="lNoTRUTEFAsEMVKAeN9wiEKxHtgVOSXZZVaIjdYDmgYR12QiDkPe7mzdw62XBr80t32NToF5XvZOPYx3tfy0HQ=="/>
    <add key="connectionString" value="Server=tcp:chubbsqlsvr.database.windows.net,1433;Initial Catalog=chubbsql;Persist Security Info=False;User ID=localadmin;Password=P@ssw0rdp[]\;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>

    <add key="database" value="sampledb"/>
    <add key="collection" value="videos"/>

  </appSettings>
</configuration>